@model IEnumerable<Book>
@using LibraryPortal.Util

@{
    ViewData["Title"] = "BooksList";
}

<h1>Books List</h1>
@if(User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div class="col-3">
        <a href="/Books/Create" class="btn btn-primary">Add New Book</a>
    </div>
}

@if (Model.Count() < 1)
{
    <div class="row">
        <div class="col-6">
            No Books are available to display.
        </div>
    </div>
}

else
{
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Title
                        </th>
                        <th>
                            ISBN
                        </th>
                        <th>
                            Author
                        </th>
                        <th>
                            Description
                        </th>
                    </tr>
                </thead>

                <tbody>
                </tbody>

                @foreach (var book in Model)
                {
                    <tr>
                        <td>@book.Title</td>
                        <td>@book.ISBN</td>
                        <td>@book.Author</td>
                        <td>@book.Description</td>
                        <td>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Student"))
                            {
                                <div class="col-3">
                                    <button class="btn btn-primary" onclick="borrowBook(@book.BookId)">Borrow</button>
                                </div>
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}

@section Scripts {

    <script>
        let borrowBook = (bookId) => {

            $.ajax({
                url: "/Books/BorrowBook",
                type: "POST",
                data: { bookId: bookId },
                success: function (data) {
                    borrowBookRsponse(data);
                },
                error: function (result) {
                    console.log(result)
                }
            })
        }

        let borrowBookRsponse = (response) => {

            if (response.result)
                toastr.success('Book borrowd successfully.');
            
            else if(response.result == false)
                toastr.warning(response.message)
            
            else
                toastr.error('Some error occured.')

            // setTimeout(function () {
            //     window.location.href = window.location.href;
            // }, 3000)
        }

    </script>


}
